*{
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
    
}

.heading{
    
    text-align: center;
    margin: 70px;
    font-size: 1.75rem;
    font-weight: bolder;
}

.section-title{
border: 1px solid black;
background-color: orange;
top: 0;
right: 0;
float: white;
padding: 3px;
margin-bottom: 20px;
font-size: 1.25rem;
text-align: center;
width: 130px;
border-radius: 4px;
font-weight: 700;

}

p{
    
    width: 90%;
    height: auto;
    
        color: white;
   clear: right;
    margin: 35px auto;
   
}
.container{
    width: 100%;
}
.row{
   
   margin: auto;
   padding: 5px;
   max-width: 95%;
   
  

}

.box{
   
    
    background-color: gray;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid black;
    
}


/* MEDIA QUERIES */

@media (min-width: 992px) {
    .col-lg-4
    {
        float:left;
       
        
    }
        
    .col-lg-4{
        width: 32.5%;
    }
    

}

@media (min-width:768px) and (max-width: 991px){
    .col-md-6, .col-md-12
    {
        float:left;
        
    }
   
    .col-md-6{
        width: 48.5%;
    }
    .col-md-12{
        width: 97.5%;
    }
    
}
